{% extends 'base.html' %} {% block content %}
<img src="{{ user.image_url }}" alt="" />
<h1>{{ user.first_name }} {{ user.last_name }}</h1>

<form action="/users/{{user.id}}/edit">
  <button type="submit">Edit</button>
</form>

<form action="/users/{{user.id}}/delete" method="POST">
  <button type="submit">Delete</button>
</form>

<form action="/users/{{user.id}}/posts/new">
  <button type="submit">Add Post</button>
</form>

<h3>Posts</h3>
<ul>
  {% for post in user.posts %}
  <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

{% endblock %}
